language: java
before_install:
- chmod +x gradlew
jdk:
- openjdk8
script:
- "./gradlew build --scan -s"
deploy:
  provider: heroku
  app: usuarios-api-demo
  api_key:
    secure: HxAeAcC7QvWXONfN3hhxI/E4BlBY8nyodb5BuLFBZv02gOI1UyGJiqpC5C56IgMyMCVbEcte9Vw5U/YXScTEu9AIHPlkQfFJfzVg1M7KotkAtivBigJ/1MA04kO3TC0asudeN3BJUwuqsdpgPB/DVS+Wxl22fHZmfO5z9lpwG30+laXCRq0/B7ZOTcinO+BbQu1L3nHBG9/dQKcN+YtH690MXI0agbdA+4ovbUOCb76gekKLaLRV5WX+mgI91zvpgJVf+NGDRiN5r37Bdb6HCGaZ+cdlrqwSlB04Ss3uwBVrs7Bvy7DqFN207EoF8uHUwYWXMpF65+Mfi5nRAUJQcbuZvypZmUWSC+iPkRVrPdzcy/CDMF6rf8jHJ/osWW+2axPniDxW0v0LDsXISWKu2DGQHPVfr5/jd8BXhz4D5kRQp3S9MQJY9sRLWhuI4j+8aSqkZtHLx1SqqS/24R3u7+FmuWUKXb35t8U8tqaat58pHQjS2aQesyVwZgQvOcny8QDPrmeKda1xdiaRMQCujupf2+6sbPdoQgDF9BWu2ZnDCqxCfIb46tLjVCWX9KWtL7e/jKLVMxVg01cjthwRahysjrvcRf1eJUN2qmm1LS8yFTF8r+y7AsCowoO/+S/js5idOrXe10cVrtLu6sTc/EN/01YUZrWUzF+Jlpyasu8=
